* {align-items: center;
  
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;

}

h1 {
  font-family: 'Courier New', Courier, monospace;
}

.box1{

background-color: rgb(160, 209, 211);
font-size: large;
color: white;
font-family: 'Courier New', Courier, monospace;
max-width: 100%;
display: inline-block;
align-items: center;
justify-content: center;
 }


  dl {
    display:block;
    font-family: 'Courier New', Courier, monospace;
    margin: 5px;
    padding: 5px;
   
  }

  button {
    color: black;
    border: solid 0.5px black;
    background-color: white;
    border-radius: 20px;
    width: 250px;
    height: 50px;
    display: block;
    margin: 20px;
    padding: 5px;
    
  }

  .perfil {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    max-width: 100%;
 
  }

